<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 
    <configSections>
    </configSections>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown
           mode="Singleton"
           type="PDFConverter.RemoteConverter, RemoteConverter"
           objectUri="RemoteConverter"
            />
      </service>
      <channels>
        <channel ref="http" port="8989"/>
      </channels>
    </application>
  </system.runtime.remoting>

  <connectionStrings>
    <add name="DBConn" connectionString="Data Source=.;Initial Catalog=VAN_OA20161017;User ID=sa;Pwd=Fengjian1234." />
  </connectionStrings>
</configuration>