<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DBConn" connectionString="Data Source=.;Initial Catalog=ExcelData;User ID=sa;Pwd=Fengjian1234."/>
    <add name="File" connectionString="D:\Project\万邦OA\FLY"/>
  </connectionStrings>
 
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
